<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mm_eligibilitymockup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EligibilityDesc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinStudyScreen"
            android:label="Eligibility"
            android:parentActivityName=".EligibilityDesc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.mm_eligibilitymockup.EligibilityDesc" />
        </activity>
        <activity
            android:name=".Above18Screen"
            android:label="Eligibility"></activity>
        <activity
            android:name=".ineligibility_screen"
            android:label="Eligibility"></activity>
        <activity
            android:name=".Intro3Screen"
            android:label="@string/title_activity_intro3_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ReconsentScreen"
            android:label="Re-Consent"></activity>
    </application>

</manifest>